{% extends 'item/base.html' %}

{% block content %}

<section class="container mt-4">
        <h2>{{ item.name }} <h3>${{ item.price }}</h3>
            {% if item.user == request.user %}
            <a href="{% url 'item:item-update' item.pk %}">Update</a> | <a href="{% url 'item:item-delete' item.pk %}">Delete</a>
            {% endif %}
        </h2>

        <div class="row">
            <div class="col-md-4 mb-4">
                <img src="{{ item.photo.url }}" width="300" height="300" alt="">
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-8">
                <h3>Uploaded by: <a href="{% url 'account:profile-detail' item.owner.profile.pk %}">{{ item.owner.username }}</a>
                </h3>
            </div>

        </div>
        <div class="row mt-4">
            <div class="col-md-8">
                <h3>Description</h3>
                <p>{{ item.description }}</p>
            </div>
        </div>

{% endblock %}