{% extends 'item/base.html' %}

{% block content %}
  <div class="container mt-5">
    <h2 class="text-center mb-4">My Followers</h2>
      {% for profile in profiles %}
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="{{ profile.avatar.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ profile.user.username }}</h5>
            <p class="card-text">{{ profile.bio }}</p>
            <a href="{% url 'account:profile-detail' profile.id %}" class="btn btn-primary">Go</a>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>



{% endblock %}